<form {{action 'register' on="submit"}} >
Email: {{input value=email type="text"}}
Password: {{input value=password type="password"}}
Confirm: {{input value=password_confirmation type="password"}}
<button type="submit">Submit</button>
</form>

{{outlet}}
